/*responsive celular*/
@media only screen and (min-width:310px) and (max-width:480px) {
    /* Solo mobile  */
    /*header*/
*{
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
   
}

.encabezado{
        height: 20%;
        width: 100%;
}

.hamburguesa{
    height: 40px;
    margin: 1px;
    margin-top: -30px;
}

.principal{
    font-size: 16px;
    text-align: center;
    justify-content: center;
    padding-left: 6%;
    margin-top: 20px;
}

.logo{
        padding-left: 6%;
        height:3rem;
}

.barra1{
    position:relative;
    transition: .4s all;
    z-index: 1;  
    }

.barra1:hover{
    width: 40%;
}

.barra1:hover h2{
    padding: 20px;
    font-size: 15px;
}

.foto{
    margin: 0px 20px ;
    height: 100px;
    width: 100px;
    display: none;
}

.barra1:hover img{
    display: block;
    height: 80px;
    width: 80px;
}

.barra1:hover summary{
    font-size: 14px;
    padding: 1rem;
}

.barra1 .logo2{
    margin: 180px 20px ;
}

.barra1:hover .salir{
    font-size: 18px;
    margin: 10px;
    padding: 0.5rem;
    margin-top: 400px;

}

/*footer*/


.piePagina2{
    font-size: 8px;
    gap: 18px;
}

.red{
    width: 50px;
}

.condiciones{
    font-size: 12px;
}

.terminos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    gap:1rem;
    font-size: 10px;
}

.copy{
    float: right;
    display: flex;
    height: 30px;
    margin: -7px;
}

.secciones{
        display: flex;
        flex-direction: column;
        background-color: #d9d9d9;
        width: 50%;
        justify-content: center;
        text-align: center;
        align-items: center;
        font-size: 10px;
}


main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 14px;
    z-index: -1;
    top:1rem/**/; 
}

.first {
    background-color: #fff;
    width: 40%;
    font-size: 10px;
  }

/*Boton Buscar*/
.join {
    margin-top: 7rem;
    scale: 80%;
    margin-left: -2rem;
  }
  /*Barra de busqueda*/
.search {
    scale: 70%;

}


.f2 h2{
    display: flex;
    margin-top: 1rem;
    font-size: 12px;
    justify-content: center;
    text-align: center;
    
}

.f2{
    float: left;
}

.join{
    font-size: 12px;
    border-radius: 10px;
    text-align: center;

}
/*Barra de busqueda*/
.search{
    margin-left: -30px;
    border-radius: 10px;
    font-family: 'Playfair Display', serif;
    font-size: 12px;
    width: 160px;
    text-align: center;
}

.photo{
    margin-left: -80px;
}


.dip{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    margin-left: -70px;
}

.seldi{
    font-size: 12px;
    margin-left: -70px;
}

.info{
    font-size: 12px;
    margin-left: -60px;
}

.progress {
    width: 100%;
    text-align: center;
    margin-top: -3rem;
    scale: 40%;
    margin-left: -30px;
    font-size: 28px;
  }

/*Promedio Ubi*/
.avarage {
    scale: 40%;
    margin-top: -8rem;
    margin-left: -30px;
  }

.global {
    scale: 40%;
    margin-top: -8rem;
    margin-left: -30px;
  }

  /*Table*/
.schedule {
    scale: 40%;
    margin-top: -8rem;
    margin-left: -10px;
  }

  .s3 {
    scale: 40%;
    margin-top: -4rem;
    margin-left: -80px;
  }

  .gray{
    font-size: 24px;
    margin: 0 -2px;
}



  .emocionAlumno{
    font-size: 12px;
    margin-top: 4rem;
    justify-content: center;
    margin-right: -22rem;
    margin-top: -50px;
    z-index: 2;
}




.wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    scale: 40%;
    margin-top: -70px;
    margin-left: 140px;
}


.significadoValores {
    scale: 40%;
    margin-left: 60px;
    margin-top: -10px;
  
}

/*Container comentario*/ 
.sc{
    text-align: center;
    padding: 2rem;
    width: 40%;
    margin-left: 220px;
}

.sc p{
    font-size: 12px;
}
/*Container asistencia y eva docente*/
.scd{
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px 0pt;
    
} 

.titulo-uno{
   font-size: 12px;
    margin-left: 22px;
}

.titulo-uno .gray{
    font-size: 14px;
}

.board{
   scale: 40%;
   margin-left: 22px;
   margin-top: -100px;
}

/*Container Eva. Docente*/
.cal{
    text-align: center;
    justify-content: center;
  
}

.cal1 h4{
    font-size: 14px;
    margin-left: 40px;
}

.cal1 .gray{
    font-size: 14px;
    margin-left: 40px;
}

.boton{
    margin-left: 40px;
    scale: 80%;
}


footer{
    position: absolute;
    top:182rem;
    width: 100%;
}

.par{
    width: 30%;
    padding: 1rem;
    margin-left: 240px;
}

.par p{
    font-size: 14px;
    
}

.emo{
    font-size: 14px;
} 

.emo1{
    margin-left: 230px;
    width: 35%;
    text-align: center;
    border-radius: 20px;
    padding: 1.4rem;
}

.fin{
    height: 50%;
    width: 38%;
    margin-left: 14rem;
}
.fin2{
    font-weight: bold;
    font-size: 14px;
    text-align: center;
}
.comentarios-uno{
    width: 70%;
    height: 80px;
    background: #b0cfc1;
    border-color: #b0cfc1;
    border-radius: 20px;
    text-align: center;
}
 /*emojis*/

 .caras{
    background-color: #d9d9d9;
    scale: 30%;
    margin-left: -45rem;
    margin-top: -3.4rem;
}

.reacciones{
    background-color: #d9d9d9;
    font-size: 10px;
    flex-direction: row;
    justify-content: center;
    gap: 0.4rem;
    margin-left: -45rem; 
}

.calif{
    margin-top: -4rem;
}



}